* {
    margin : 0 ; 
    padding : 0 ; 
    box-sizing: border-box;
}

html , body {
    height : 100% ; 
    width : 100% ; 
    font-family: 'Poppins', sans-serif;

}

.full { 
    height : 100vh; 
    width : 100vw ; 
    background-image : url("./Images/PIKACHU.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

.navbar { 
    display : flex ; 
    height : 10vh ; 
    width : 100% ; 
    align-items: center;
    justify-content: space-between;
    padding : 0 5vw ;
}

.firstbox{
    height : 10vh ; 
    width : 15vw ;
    display : flex ;
    justify-content: center;
    align-items: center; 
}

.logo img { 
    height : 4vw  ; 
    width : 4vw ; 
}

i {
    display : none ; 
    font-size: 40px ;
    font-weight: 600 ;
}

.appname {
    font-size: 1.6vw ;
    font-weight: 600;
}

.navlinks { 
    display : flex ; 
    align-items: center;
    gap : 5vw ; 
    list-style: none;
    font-size : 1.6vw ;
    font-weight: 600; 
}

.main { 
    width : 35vw ; 
    margin : 8vw 0 0 25vw ; 
    border : 5px solid red; 
    border-radius : 3vw ; 
    padding : 1vw ; 
}

.searchbox {  
    height : 8vh ; 
    width: 100% ;
    display: flex ; 
    justify-content: center;
    align-items: center;
    gap : 3vw ; 
}

#search { 
    height : 4vw ;
    width : 20vw ;
    font-size: 1.3vw ;
    text-align: center;
    border: 2px solid black;    
    border-radius: 3vw ;  
}

#searchbtn { 
    height : 4vw ; 
    width : 8vw ;
    font-size: 1.3vw ;
    text-align: center;
    border: 2px solid black;    
    border-radius: 3vw ; 

}

.resultbox { 
    margin-top : 1vw ; 
    height : 35vh  ; 
    display: flex ;
}

.imgbox { 
    display: flex ; 
    justify-content: center;    
    align-items: center;
}

#pokemonimg { 
    height : 40vh ; 
    width : 15vw ;
}

.infobox { 
    width : 60vw ;
    font-size : 1.5vw ; 
    font-weight : 600 ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 1vw ; 
}

@media only screen and (max-width : 1040px) { 
    .main { 
        margin-left : 200px   ; 
        width : 400px ; 
    }

    #search { 
        height : 50px ; 
        width : 250px ; 
        font-size : 20px ; 
    }

    #searchbtn { 
        height : 50px ; 
        width : 100px ; 
        font-size : 20px ; 
    }

    #pokemonimg {
        width: 250px;
    }

    .infobox { 
        font-size : 15px ;
        font-weight : 800  ; 
    }
}

@media only screen and (max-width : 960px){

    .logo img { 
        height: 60px ;
        width : 60px ;
    }

    .appname p {
        font-size : 30px  ; 
    }

    .navlinks { 
        font-size : 25px ; 
    }
    

    .main {
        margin : 100px 250px ; 
        width : 400px ; 
    }

    #search { 
        height : 50px ; 
        width : 250px ; 
        font-size : 20px ; 
    }

    #searchbtn { 
        height : 50px ; 
        width : 100px ; 
        font-size : 20px ; 
    }

    #pokemonimg {
        width: 250px;
    }

    .infobox { 
        font-size : 15px ;
        font-weight : 800  ; 
    }

}




@media only screen and (max-width : 820px) { 
    .main { 
        margin-left : 200px   ; 
    }

    #pokemonimg {
        width: 250px;
    }

    .infobox { 
        font-size : 15px ;
        font-weight : 800  ; 
    }
}

@media only screen and (max-width : 745px) { 
    .main { 
        margin-left : 170px   ; 
    }

    #pokemonimg {
        width: 250px;
    }

    .infobox { 
        font-size : 15px ;
        font-weight : 800  ; 
    }
}

@media only screen and (max-width : 660px) { 
    .navbar {
        padding : 5px 50px ; 
    }
    .main { 
        margin-left : 150px   ; 
    }

    #pokemonimg {
        width: 250px;
    }

    .infobox { 
        font-size : 15px ;
        font-weight : 800  ; 
    }
}

@media only screen and (max-width : 645px) { 
    .main { 
        margin-left : 110px   ; 
    }

    #pokemonimg {
        width: 250px;
    }

    .infobox { 
        font-size : 15px ;
        font-weight : 800  ; 
    }
}

@media only screen and (max-width : 595px) { 
    .main { 
        margin-left : 90px   ; 
         
    }

    .navlinks {
        display : none ; 
    }

     i {
        display : block ; 
        
    }

    #pokemonimg {
        width: 250px;
    }

    .infobox { 
        font-size : 15px ;
        font-weight : 800  ; 
    }
}

@media only screen and (max-width : 540px) { 

    .navbar {
        padding : 10px 70px ; 
    }
   
    #search {
        width : 150px ; 
        font-size : 15px ; 
    }

    #searchbtn {
        width : 80px ; 
        font-size : 15px ; 
    }
    .main { 
        margin-left : 80px ; 
        width : 350px ;
    }

    .secondbox { 
        position  : absolute ; 
        right  : 30px ; 
    }

    .navlinks {
        display : none ; 
    }

     i {
        display : block ; 
    }

    #pokemonimg {
        width: 250px;
    }

    .infobox { 
        font-size : 15px ;
        font-weight : 800  ; 
    }
}



 @media only screen and (max-width : 482px){
    .main { 
        margin-left : 60px ;  
    }
    .main { 
        width : 350px ;
    }

    #search {
        width : 150px ; 
        font-size : 15px ; 
    }

    #searchbtn {
        width : 80px ; 
        font-size : 15px ; 
    }

    #pokemonimg {
        width: 250px;
    }

    .infobox { 
        font-size : 15px ;
        font-weight : 800  ; 
    }
}

@media only screen and (max-width : 450px){
    .main { 
        margin-left : 30px ; 
        width : 350px ;
    }

    #search {
        width : 150px ; 
        font-size : 15px ; 
    }

    #searchbtn {
        width : 80px ; 
        font-size : 15px ; 
    }

    #pokemonimg {
        width: 200px;
    }

    .infobox { 
        font-size : 15px ;
        font-weight : 800  ; 
    }
}

@media only screen and (max-width : 400px){
    .main { 
        margin-left : 14px ;  
    }
    .main { 
        width : 335px ;
    }

    #search {
        width : 150px ; 
        font-size : 15px ; 
    }

    #searchbtn {
        width : 80px ; 
        font-size : 15px ; 
    }

    #pokemonimg {
        width: 200px;
    }

    .infobox { 
        font-size : 15px ;
        font-weight : 800  ; 
    }
    
}







 
